# Ambiente virtual
.venv/
venv/
env/

# Variáveis de ambiente (NUNCA subir o .env real!)
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# AWS SAM / CDK
.aws-sam/
cdk.out/

# macOS
.DS_Store
